{% extends 'base.html' %}

{% block body %}

    <main>
        <div class="container">
            <br>
            <!--Duas div, a primeira contendo a imagem do livro, a segunda informações-->
            <div class="row">
                <div class="col-sm-6 capa-livro">
                    <img src="../../static/images/{{livro.cover}}" alt="" height="400px" class="rounded img-in-div">
                </div>
                <div class="livro-info col-sm-6">
                    <table  class="tabela-livro-esp" class="livro-especifico-tabela-mobile">
                        <tr>
                            <td><h4>TÍTULO</h4></td>
                            <td><p>{{livro.title}}</p></td>
                        </tr>
                        <tr>
                            <td><h4>AUTOR</h4></td>
                            <td><p>{{livro.author}}</p></td>
                        </tr>
                        <tr>
                            <td><h4>GÊNERO</h4></td>
                            <td><p>{{livro.gender}}</p></td>
                        </tr>
                        <tr>
                            <td><h4>PUBLICAÇÃO</h4></td>
                            <td><p>{{livro.pub_date.replace('-', '/')}}</p></td>
                        </tr>
                        <tr>
                            <td><h4>DISPONIBILIDADE</h4></td>
                            <td><p>{% if livro.available %}Disponível{% endif %}{% if not livro.available%}Indisponível{% endif %}</p></td>
                        </tr>
                    </table>
                    <!--Botões excluir e editar-->
                    <div>
                        <a href="{{url_for('livros.excluir_livro', _id=livro.id)}}"><button type="button" class="btn btn-primary">Excluir</button></a>
                        <a href="#"><button type="button" class="btn btn-primary">Editar</button></a>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </main>

{% endblock %}

