{% extends 'base.html' %}

{% block body %}

    <main>
        <div class="container cardboard-livros container-livros-mobile">
            <br>
            <h2 class="montserrat" style="display: inline;">LIVROS</h2>
            <div class="adicionar-livro">
                <a href="{{url_for('livros.adicionar_livro')}}" class="button-link"><button type="button" class="btn btn-primary">Adicionar</button></a>
            </div>
            <br>
            <br>
            <br>
        <!--Cards-->
            {% if not livros %}
            <h2>Ainda não há livros registrados</h2>
            {% endif %}
            <div class="row row-mobile" style="justify-content: center;">
                {% for livro in livros %}

                <div class="col-sm-3 smaller-padding cards-livros-mobile">
                    <div class="card">  
                        <div class="card-body">
                            <div class="card-titulo">
                                <a class="no-dec" href="{{url_for('livros.livro_esp', _id=livro.id)}}"><p class="card-text">{{livro.title}}</p></a>
                            </div>
                            <div class="card-autor">
                                <p class="card-desc">{{livro.gender}} - {{livro.author}}</p>
                            </div>
                        </div>
                        <img src="{{url_for('static', filename='images/' + livro.cover)}}">
                        <div class="card-body">
                            <p class="card-text">{{livro.price}}</p>
                        </div>
                    </div>
                </div>

                {% endfor %}


            </div>
            <!--<div class="row row-mobile">
                <div class="col-sm-3 smaller-padding cards-livros-mobile">
                    <div class="card">  
                        <div class="card-body">
                            <div class="card-titulo">
                                <p class="card-text">Drácula</p>
                            </div>
                            <div class="card-autor">
                                <p class="card-desc">Terror - Bram Stoker</p>
                            </div>
                        </div>
                        <img src="https://image.ibb.co/bSkLh9/unnamed_1.png">
                        <div class="card-body">
                            <p class="card-text">R$ 60,99</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 smaller-padding cards-livros-mobile">
                    <div class="card">  
                        <div class="card-body">
                            <div class="card-titulo">
                                <p class="card-text">Frankenstein</p>
                            </div>
                            <div class="card-autor">
                                <p class="card-desc">Terror - Mary Shelley</p>
                            </div>
                        </div>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/A1bvtg4uwdL.jpg">
                        <div class="card-body">
                            <p class="card-text">R$ 59,90</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 smaller-padding cards-livros-mobile">
                    <div class="card">  
                        <div class="card-body">
                            <div class="card-titulo">
                                <p class="card-text">Medo Clássico Vol. 1</p>
                            </div>
                            <div class="card-autor">
                                <p class="card-desc">Terror - Edgar Alan Poe</p>
                            </div>
                        </div>
                        <img src="../static/images/medo_classico_vol1.jpg">
                        <div class="card-body">
                            <p class="card-text">R$ 50,92</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 smaller-padding cards-livros-mobile">
                    <div class="card">  
                        <div class="card-body">
                            <div class="card-titulo">
                                <p class="card-text">Medo Clássico Vol. 2</p>
                            </div>
                            <div class="card-autor">
                                <p class="card-desc">Terror - Edgar Alan Poe</p>
                            </div>
                        </div>
                        <img src="https://image.isu.pub/181109163529-8dabdb9a3942c008630f27845d35be2f/jpg/page_1.jpg">
                        <div class="card-body">
                            <p class="card-text">R$ 59,90</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <br>
            </div>
    </main>

{% endblock %}
