{% extends 'base.html' %}

{% block body %}

    <main>
        <div class="container">
            <br>
            <!--Duas div, a primeira contendo a imagem do livro, a segunda informações-->
            <div class="row">
                <div class="col-sm-6 capa-livro">
                    <img src="{{url_for('static', filename='images/' + livro.cover)}}" alt="" height="400px" class="rounded img-in-div">
                </div>
                <div class="livro-info col-sm-6">
                            <h2 class="montserrat mobile-center" style="margin-bottom: 20px;">{{livro.title}}</h2>

                            <h4>AUTOR</h4>
                            <p>{{livro.author}}</p>

                            <h4>GÊNERO</h4>
                            <p>{{livro.gender}}</p>

                            <h4>PUBLICAÇÃO</h4></td>
                            <p>{{livro.pub_date.replace('-', '/')}}</p>

                            <h4>DISPONIBILIDADE</h4>
                            <p>{% if livro.available %}Disponível{% endif %}{% if not livro.available%}Indisponível{% endif %}{% if livro.sedes != [] %}. Registrado em {% endif %}
                                {% if livro_todas %}
                                todas as sedes.
                                {% else %}
                                {% for sede in livro.sedes %}
                                    {% if sede != livro.sedes[-1] and sede != livro.sedes[-2] %}
                                    {{sede.name}}, 
                                    {% endif %}
                                    {% if sede != livro.sedes[-1] and sede == livro.sedes[-2] %}
                                    {{sede.name}} 
                                    {% endif %}
                                    {% if sede == livro.sedes[-1] %}
                                    e {{sede.name}}.
                                    {% endif %}
                                    {% if sede == livro.sedes[-1] and sede == livro.sedes[0] %}
                                    {{sede.name}}.
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                            </p>
                            <h4>PREÇO</h4>
                            <p>{{livro.price}}</p>

                    </table>
                    <!--Botões excluir e editar-->
                    <div class="mobile-flex-center">
                        <a href="{{url_for('livros.editar_livro', _id=livro.id)}}"><button type="button" class="btn btn-primary">Editar</button></a>
                        <a href="{{url_for('livros.excluir_livro', _id=livro.id)}}"><button type="button" class="mobile-pad-left btn btn-primary">Excluir</button></a>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </main>

{% endblock %}

