{% extends 'base.html' %}

{% block body %}

    <main>
        <div class="container">
            <br>
            <h2 style="float: left;">Novidades</h2>
            <div class="adicionar-livro">
                <a href="{{url_for('novidades.adicionar_novidade')}}" class="button-link"><button type="button" class="btn btn-primary">Adicionar</button></a>
            </div>
            <br>
            <br>
            <br>
        <div class="col-sm-12" style="padding-left: 0px;">
            {% for novidade in novidades_front %}
            <div class="novidade">
                <h4>{{novidade.title}}</h4>
                <p>{{novidade.content}}</p>
                <div class="nome-data-novidade">
                    <p><strong>{{novidade.author}}, {{novidade.pub_date}}</strong></p>
                    
                    <a href="{{url_for('novidades.editar_novidade', _id=novidade.id)}}" class="button-link"><button type="button" class="btn btn-primary">Editar</button></a>
                    <a href="{{url_for('novidades.excluir_novidade', _id=novidade.id)}}" class="button-link"><button type="button" class="btn btn-primary">Excluir</button></a>
                    
                </div>
                <br class="mobile-header">
            {% endfor %}
        </div>
        <br>
        </div>
    </main>

{% endblock %}
