{% extends 'base.html' %}

{% block body %}
    <main>
        <div class="container">
            <div  class="form-group d-flex flex-fill justify-content-center">
                <form class="form-livros mobile-wider">
                    <div class="input-wrapper">
                        <label for="mensagem">Mensagem</label>
                        <textarea name="mensagem" cols="30" rows="10" placeholder="Escreva aqui a sua mensagem."></textarea>
                    </div>
                    <div class="input-wrapper">
                        <label for="nome">Autor</label>
                        <input type="text" name="name" placeholder="Escreva seu nome aqui.">
                    </div>
                    <br>
                    <input class="btn-primary" type="submit" value="Adicionar novidade">
                </form>
            </div>
        </div>
    </main>
{% endblock %}
