{% extends 'base.html' %}

{% block body %}

    <div id="modal">
        <div class="content">
            <div id="contato-title">
                <h1>Entre em contato com nossa empresa!</h1>
            </div>
            <p>sofia.freitas@ijunior     (31) 983885995</p>

            <form action="">
                <div class="input-wrapper">
                    <label for="nome">Nome Completo</label>
                    <input type="text" name="name" placeholder="Escreva seu nome aqui.">
                </div>

                <div class="input-wrapper">
                    <label for="telefone">Telefone</label>
                    <input type="text" name="Telefone" placeholder="(00)90000-0000">
                </div>

                <div class="input-wrapper">
                    <label for="Email">Email</label>
                    <input type="text" name="Email" placeholder="Insira seu email aqui.">
                
                <div class="input-wrapper">
                    <label for="mensagem">Digite uma mensagem</label>
                    <textarea name="mensagem" cols="30" rows="10" placeholder="Escreva sua mensagem."></textarea>
                </div>

                <input id="botao-enviar" class="btn btn-primary" type="submit" value="Enviar">
            </form>
            <br><br>
        </div>
    </div>

{% endblock %}

        
