{% extends 'base.html' %}

{% block body %}

    <main>
        <div class="container">
            <br>
            <h2 style="float: left;">Novidades</h2>
            <div class="adicionar-livro">
                <button type="button" class="btn btn-primary"><a href="adicionar-novidade.html" class="button-link">Adicionar</a></button>
            </div>
            <br>
            <br>
            <br>
        <div class="col-sm-12">
            <div class="novidade">
                <h4>Título</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, ducimus. Pariatur nesciunt molestias eaque sequi eos consectetur perferendis? A perferendis accusamus cum rem? Cum sit minima amet, dolor voluptate nostrum.</p>
                <div class="nome-data-novidade">
                    <p><strong>Joe Jordan, 01/01/2001</strong></p>
                    
                    <button type="button" class="btn btn-primary"><a href="#" class="button-link">Editar</a></button>
                    <button type="button" class="btn btn-primary"><a href="#" class="button-link">Excluir</a></button>
                    
                </div>
            </div>
            <div class="novidade">
                <h4>Título</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, ducimus. Pariatur nesciunt molestias eaque sequi eos consectetur perferendis? A perferendis accusamus cum rem? Cum sit minima amet, dolor voluptate nostrum.</p>
                <div class="nome-data-novidade">
                    <p><strong>Joe Jordan, 01/01/2001</strong></p>
                    
                    <button type="button" class="btn btn-primary"><a href="#" class="button-link">Editar</a></button>
                    <button type="button" class="btn btn-primary"><a href="#" class="button-link">Excluir</a></button>
                    
                </div>
            </div>
            <div class="novidade">
                <h4>Título</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, ducimus. Pariatur nesciunt molestias eaque sequi eos consectetur perferendis? A perferendis accusamus cum rem? Cum sit minima amet, dolor voluptate nostrum.</p>
                <div class="nome-data-novidade">
                    <p><strong>Joe Jordan, 01/01/2001</strong></p>
                    
                    <button type="button" class="btn btn-primary"><a href="#" class="button-link">Editar</a></button>
                    <button type="button" class="btn btn-primary"><a href="#" class="button-link">Excluir</a></button>
                    
                </div>
            </div>
        </div>
        <br>
        </div>
    </main>

{% endblock %}
