{% extends 'base.html' %}

{% block body %}

    <main>

        <div class="container">
            <br>
            <h2 style="display: inline;">Sedes</h2>
            <div class="adicionar-livro">
                <a href="/sedes/adicionar-sede/" class="button-link"><button type="button" class="btn btn-primary">Adicionar</button></a>
            </div>
        <br>
        <br>
        <br>
        <!--DIV para MOBILE-->
        <div>
            <div class="sede-mobile">
                <a class="nome-sedes" href="/sedes/sede_esp/">
                    <h3>Sede Shopping da Ilha</h3>
                </a>
                <p>AV Daniel Dela Touche, Bequimão Shopping da Ilha, São Luis -MA</p>
                <p>(98) 3014-1434</p>
                <div class="editar-excluir-sedes">
                    <button type="button" class="btn btn-primary"><a href="adicionar-sede">Editar</a></button></a>
                    <button type="button" class="btn btn-primary excluir-sedes"><a href="#">Excluir</a></button>
                </div>
            </div>

            {% for sede in sedes_front %}           
            <div class="sede-mobile">
                <a class="nome-sedes" href="#">
                    <h3>{{sede.name}}</h3>
                </a>
                <p>{{sede.adress}}</p>
                <p>{{sede.contact}}</p>
                <div class="editar-excluir-sedes">
                    <button type="button" class="btn btn-primary"><a href="sede_esp.html">Editar</a></button></a>
                    <button type="button" class="btn btn-primary excluir-sedes"><a href="#">Excluir</a></button>
                </div>
            </div>
            {% endfor %}
            <div class="sede-mobile sede-final">
                <a class="nome-sedes" href="#">
                    <h3>Sede nome Exemplo</h3>
                </a>
                <p>Endereço da Sede Exemplo</p>
                <p>(00) 0000-0000</p>
                <div class="editar-excluir-sedes">
                    <button type="button" class="btn btn-primary"><a href="sede_esp.html">Editar</a></button></a>
                    <button type="button" class="btn btn-primary excluir-sedes"><a href="#">Excluir</a></button>
                </div>
            </div>
        </div>

    </main>

{% endblock %}


