{% extends 'base.html' %}

{% block body %}

    <main>
        <div class="container about about-container">
                    <div class="row align-content-sm-center align-content-md-center align-content-lg-center">
                        <div class="col-sm-6">
                                <img src="LivroEsp_img/O-Mundo-de-Sofia2.jpg" class="img-fluid rounded">
                                <br><br>
                        </div>
                        <div class="col-sm-6">
                                <p style="text-align: justify; font-size: 1.2rem;">
                                    Inspirado no Livro 'O Mundo de Sofia' escrito por Jostein Gaarder em 1991 e primeira edição em português em 1995, a livraria foi fundada em 2000 ( 9 anos após o lançamento oficial e 5 anos após o lançamento traduzido), com o objetivo de fomentar a sede de conhecimento e fomentar a leitura entre as pessoas. O romance escrito por Jostein aborda importantes aspectos da filosofia e muitos pontos para reflexão no geral, sendo assim, uma enorme inspiração para mim, Hilde, a fundadora dessa livraria. Atualmente temos 3 sedes físicas em Belo Horizonte - Minas Gerais e somos muito mais do que só uma livraria, mas sim, um lugar de aprendizagem, inspiração e reflexão. Desejo a todos uma ótima leitura. 
                                    <br>
                                </p> 
                            <div style="display: block; text-align: right">
                                    <p>
                                        Atenciosamente, 
                                        <br>Hilde.
                                    </p>
                            </div>
                        </div>
                    </div>
        </div>
    </main>

{% endblock %}