<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant:wght@500&family=Gelasio&family=Montserrat:wght@300&family=Playfair+Display+SC&family=Playfair+Display:wght@500&family=Varela+Round&display=swap" rel="stylesheet"> 
    <title>O Mundo de Sofia</title>
    <link rel="sortcut icon" href="shortcut.png" type="image/x-icon">

</head>
<body>
    <header>
        <script src="https://kit.fontawesome.com/0ebbc74821.js" crossorigin="anonymous"></script>
        <!-- HEADER PRA PC -->
        <div class="pc-header">
            <div class="fixed-menu">
                <nav>
                <a href="index.html"><li class="nav-item">Home</li></a>
                <a href="livros.html"><li class="nav-item">Livros</li></a>
                <a href="sedes.html"><li class="nav-item">Sedes</li></a>
                <a href="novidades.html"><li class="nav-item">Novidades</li></a>
                <a href="contato.html"><li class="nav-item">Contato</li></a>
                <a href="sobre.html"><li class="nav-item">Sobre</li></a>
                </nav>
            </div>
    
            <div class="logo-top">
                <a href="index.html">
                    <img src="Logo-Mundo-De-Sofia-Sem-Fundo.png" alt="logomarca" height= "100px" width= "auto" id="logo">
                </a>
            </div>
            <div class="search-top">
                <input type="text" placeholder="Pesquisar">
            </div>
            <div class="filler"></div>
        </div>
        <!-- HEADER MOBILE -->
        <div class="mobile-header">
            <div class="fixed-menu">
                <div class="logo-mobile">
                    <a href="index.html">
                        <img src="shortcut_white.png" alt="logo" height="60px" width="auto" id="logo">
                    </a>
                </div>
                <!-- BARRA DE PESQUISA -->
                <div class="pesquisa-mobile">
                    <input type="text" placeholder="Pesquisar">
                </div>
                <!-- DROPDOWN -->
                <div class="dropdown drop-mobile">
                    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><i class="fas fa-align-justify"></i>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="index.html">Home</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="livros.html">Livros</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="sedes.html">Sedes</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="novidades.html">Novidades</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="contato.html">Contato</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="sobre.html">Sobre</a></li>
                    </ul>
                </div>
            </div>
            <div class="filler"></div>
        </div>
    </header>
    <main>
        <div class="container about about-container">
                       <div class="row align-content-sm-center align-content-md-center align-content-lg-center">
                           <div class="col-sm-6">
                                <img src="LivroEsp_img/O-Mundo-de-Sofia2.jpg" class="img-fluid rounded">
                                <br><br>
                           </div>
                           <div class="col-sm-6">
                                <p style="text-align: justify; font-size: 1.2rem;">
                                    Inspirado no Livro 'O Mundo de Sofia' escrito por Jostein Gaarder em 1991 e primeira edição em português em 1995, a livraria foi fundada em 2000 ( 9 anos após o lançamento oficial e 5 anos após o lançamento traduzido), com o objetivo de fomentar a sede de conhecimento e fomentar a leitura entre as pessoas. O romance escrito por Jostein aborda importantes aspectos da filosofia e muitos pontos para reflexão no geral, sendo assim, uma enorme inspiração para mim, Hilde, a fundadora dessa livraria. Atualmente temos 3 sedes físicas em Belo Horizonte - Minas Gerais e somos muito mais do que só uma livraria, mas sim, um lugar de aprendizagem, inspiração e reflexão. Desejo a todos uma ótima leitura. 
                                    <br>
                                </p> 
                               <div style="display: block; text-align: right">
                                    <p>
                                        Atenciosamente, 
                                        <br>Hilde.
                                    </p>
                               </div>
                           </div>
                       </div>
        </div>
    </main>
</body>
</html>
