{% extends 'base.html' %}

{% block body %}
    <main>
        <div class="container">
            <div  class="form-group d-flex flex-fill justify-content-center">
                <form class="form-livros mobile-wider" action="/sedes/adicionar-sede/" method="POST" enctype="multipart/form-data">
                    <div class="input-wrapper">
                        <label for="Nome">Nome</label>
                        <input type="text" name="sede-name" placeholder="Digite aqui o nome da nova sede">
                    </div>
                    <div class="input-wrapper">
                        <label for="endereço">Endereço</label>
                        <input type="text" name="address" placeholder="Ex: AV Daniel Dela Touche, Bequimão Shopping da Ilha, São Luis -MA">
                    </div>
                    <div class="input-wrapper">
                        <label for="contato">Contato</label>
                        <input type="text" name="contact" placeholder="(00) 0000-0000">
                    </div>
                    <div class="input-wrapper">
                        <label for="schedule">Horário de Funcionamento</label>
                        <input type="text" name="schedule" placeholder="Seg - Sex: 09:00 - 18:00; Sab - Dom: 13:00 - 18:00">
                    </div>
                    <div class="input-wrapper">
                        <label for="Foto da Sede">Foto da Sede</label>
                        <input type="file" id="myfile" name="myfile">
                    </div>
                    <br>
                    <input class="btn-primary" type="submit" value="Adicionar nova sede">
                </form>
            </div>
        </div>
    </main>

{% endblock %}