{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div  class="form-group d-flex flex-fill justify-content-center">
        <div class="input-wrapper" >
            <br><br><br><br>
            <div style="display: flex; justify-content: center;">
                <h1 class="titulo-excluir">Você tem certeza que quer excluir "{{sede.name}}"?</h1>
            </div>
            <br><br>
            <form action="" method="POST" enctype="multipart/form-data">
                <input type="submit" value="Sim!" class="btn btn-primary botoes-excluir excluir-sim">
                <br>
                <a href="{{url_for('sedes.sede_especifica', _id=sede.id)}}" class="btn btn-primary botoes-excluir btn-block">Não!</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}