{% extends 'base.html' %}

{% block body %}

    <main>
        <div class="container">
            <!--Duas div, a primeira contendo o maps com endereço da sede e imagem, a segunda informações-->
            <div class="row">
                <div class="col-sm-6">
                    <h1 style="display: inline;">{{sede.name}}</h1>
                        <div style="float: right; padding-top:7px" class="pc-header">
                            <a href="{{url_for('sedes.editar_sede', _id=sede.id)}}"><i class="fas fa-edit" style="font-size: 30px;"></i></a>
                            <a href="{{url_for('sedes.excluir_sede', _id=sede.id)}}"><i class="fas fa-trash-alt" style="font-size: 30px;"></i></a>
                        </div>
                    <div class="article-img">
                        <img class="rounded img-in-div" src="{{url_for('static', filename='images/' + sede.picture)}}" alt="Foto da Sede">
                    </div>
                </div>
                <div class="col-sm-6">
                            <h4>ENDEREÇO</h4>
                            <p>{{sede.address}}</p>
                        
                        
                            <h4>TELEFONE</h4>
                            <p>{{sede.contact}}</p>
                        
                        
                            <h4>HORÁRIO DE FUNCIONAMENTO</h4>
                            <p>{{sede.schedule}}</p>
                    <div class="sedes-recentes-mobile">
                        <div class="sede-mobile" style="border-bottom: none;">
                            <p>{{sede.address}}</p>
                            <p>{{sede.contact}}</p>
                            <button type="button" class="btn btn-primary"><a href="{{url_for('sedes.editar_sede', _id=sede.id)}}">Editar</a></button></a>
                            <button type="button" class="btn btn-primary"><a href="{{url_for('sedes.excluir_sede', _id=sede.id)}}">Excluir</a></button>
                        </div>      
                    </div>
                    <iframe
                    width="600"
                    height="450"
                    frameborder="0" style="border:0; width: 100%;"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB0jpvQiWthkM06WqSEX-_jepRA4OuChnU
                      &q={{sede.address.replace(' ', '+')}}" allowfullscreen>
                  </iframe>
                </div>
            </div>
            <br>
        </div>

      
        
    </main>

{% endblock %}

