{% extends 'base.html' %}

{% block body %}

    <main>

        <div class="container">
            <br>
            <h2 style="display: inline;">Sedes</h2>
            <div class="adicionar-livro">
                <a href="/sedes/adicionar-sede/" class="button-link"><button type="button" class="btn btn-primary">Adicionar</button></a>
            </div>
        <br>
        <br>
        <br>
        <!--DIV para DISPLAY-->
        <div>
            {% if not sedes_front %}
            <h2>Ainda não há sedes cadastradas</h2>
            {% endif %}

            {% for sede in sedes_front %}           
            <div class="sede-mobile">
                <a class="nome-sedes" href="/sedes/sede-especifica/{{sede.id}}">
                    <h3>{{sede.name}}</h3>
                </a>
                <p>{{sede.address}}</p>
                <p>{{sede.contact}}</p>
                <div class="editar-excluir-sedes">
                    <button type="button" class="btn btn-primary"><a href="sede_esp.html">Editar</a></button></a>
                    <button type="button" class="btn btn-primary excluir-sedes"><a href="#">Excluir</a></button>
                </div>
            </div>
            {% endfor %}

        </div>

    </main>

{% endblock %}


