{% extends 'base.html' %}

{% block body %}

    <main>
        <!--Div a seguir contem uma div com os livros recentes e outra com as sedes recentes-->
        <div class="container homepage">
            <div class="row" style="justify-content: center;">
                <h1 class="hometitle">
                    livros recentes
                </h1>
            </div>

            <div class="row" style="justify-content: center;">
                {% if not livros %}
                <h2>Ainda não há livros registrados</h2>
                {% endif %}
                {% for livro in livros[:3] %}
                <div class="col-sm-3 smaller-padding cards-livros-mobile">
                    <div class="card">  
                        <div class="card-body">
                            <div class="card-titulo">
                                <a class="no-dec" href="{{url_for('livros.livro_esp', _id=livro.id)}}"><p class="card-text">{{livro.title}}</p></a>
                            </div>
                            <div class="card-autor">
                                <p class="card-desc">{{livro.gender}} - {{livro.author}}</p>
                            </div>
                        </div>
                        <img src="{{url_for('static', filename='images/' + livro.cover)}}">
                        <div class="card-body">
                            <p class="card-text">{{livro.price}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row" style="justify-content: center;">
                <h1 class="hometitle hometitle-mobile" style="padding-top: 30px;">
                    sedes recentes
                </h1>
            </div>
            <div>
                {% if not sedes_front %}
                    <div class="row" style="justify-content: center;">
                        <h2>Ainda não há sedes registradas</h2>
                    </div>
                {% endif %}
                {% for sede in sedes_front[:3] %}
                <div class="sede-mobile" {% if sede == ultima_sede %} style="border-bottom: none;" {% endif %}>
                    <a class="nome-sedes" href="{{url_for('sedes.sede_especifica', _id=sede.id)}}">
                        <h3>{{sede.name}}</h3>
                    </a>
                    <p>{{sede.address}}</p>
                    <p>{{sede.contact}}</p>
                    <div class="editar-excluir-sedes">
                        <button type="button" class="btn btn-primary"><a href="{{url_for('sedes.editar_sede', _id=sede.id)}}">Editar</a></button></a>
                        <button type="button" class="btn btn-primary excluir-sedes"><a href="{{url_for('sedes.excluir_sede', _id=sede.id)}}">Excluir</a></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </main>

{% endblock %}

